

.host{
    margin: auto;
    max-width: 95%;
}

.host-navbar{
    list-style: none;
    margin: 5rem auto 1rem;
}

.host-navbar li{
    display: inline-flex;
    margin-right: 2rem;
    font-size: larger;
    font-weight: 600;
}

.host-navbar ul li a{
    display: flex;
    align-items: center;
}
.host-navbar ul li a svg{
    margin-right: 0.35rem;
}

.host-navbar a:hover, .host-navbar a:active{
    color: #da5700;
    text-decoration: underline;
}

.income-navbar a:hover, .income-navbar a:active{
    color: green;
}

.reviews-navbar a:hover, .reviews-navbar a:active{
    color: rgb(4, 159, 255)
}


